---
title: Registration Confirmation | CSO Interchange
---

{{#extends "default"}}

{{#append "styles"}}
	<link rel="stylesheet" href="../../register/index.css">
	<link rel="stylesheet" href="index.css">
{{/append}}

{{#append "scripts"}}
	<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{{/append}}


{{#block "content"}}
	<div class="background"></div>
	<div class="q-grid__container header-container">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-12 header">
				<a href="/"><img class="logo" src="/asset/image/cso-interchange-logo.svg" width="222" height="63" alt="CIO / CISO Interchange"></a>
			</div>
		</div>
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-12 topic-container">
				<h1>Securing the Digital Transformation </h1>
			</div>
		</div>
	</div>
	<div class="q-grid__container register-container">
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-8 q-grid__column-push-1">
				<h2>CIO/CISO Interchange 2018</h2>
				<h3>Four Seasons, <span style="white-space: nowrap;">San Francisco</span> <br>
					April 16, <span style="white-space: nowrap;">4:00 – 6:30 PM</span></h3>
			</div>
		</div>
		<div class="q-grid__row">
			<div class="q-grid__column q-grid__column-10 q-grid__column-push-1">
				<p class="thanks">Thank you. You are now registered.</p>

				<p class="address">
					The Four Seasons is located at <a href="https://www.google.com/maps/place/757+Market+St,+San+Francisco,+CA+94103/@37.7865227,-122.4044554,17z/data=!3m1!4b1!4m5!3m4!1s0x808580888478050b:0x43b60dd959a640e7!8m2!3d37.7865227!4d-122.4044554?hl=en">757 Market St, San Francisco</a>.
				</p>

				<!-- Button code -->
				<div title="Add to Calendar" class="addeventatc">
					Add to Calendar
					<span class="start">04/16/2018 04:00 PM</span>
					<span class="end">04/16/2018 6:30 PM</span>
					<span class="timezone">America/Los_Angeles</span>
					<span class="title">CIO/CISO Interchange 2018</span>
					<span class="description">CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.</span>
					<span class="location">Four Seasons, San Francisco</span>
				</div>

				<p class="invitation-only">CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all <span style="white-space: nowrap;">C-level</span> roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.</p>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}