---
title: CIO/CISO Interchange
description: CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.
overlayHeader: "true"
---

{{#extends "default"}}

{{#append "styles"}}
	<link rel="stylesheet" href="/asset/stylesheet/agenda.css">
{{/append}}

{{#append "scripts"}}
	<script src="/asset/script/agenda.js"></script>
{{/append}}

{{#block "cta-register"}}
{{>
	cta-register-btn
	url="/register/#florida"
}}
{{/block}}
{{#block "cta-register-mobile"}}
{{>
	cta-register-btn
	url="/register/#florida"
}}
{{/block}}
{{#block "content"}}
	<div class="cso__hero-banner-wraper cso__hero-banner-wraper--inner">
		<div class="cso__hero-banner-container">
			<div class="cso__hero-banner-inner">
				<h2 class="heading--2">
					Building security into the digital transformation – not bolting it on.
				</h2>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-overview__container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h2 class="cso-overview__heading">
						CIO/CISO Interchange
					</h2>
					<h3 class="cso-overview__subheading">
						Orlando, FL <br>
						Monday, December 10 at <a href="https://csacongress.misti.com/agenda/about-cloud-security-alliance-congress">CSA Congress 2018</a> | 1:00 - 5:00 PM<br>
						Omni Orlando Resort, ChampionsGate
					</h3>
					<a href="/register/#florida" class="q-button">Register</a>
				</div>
				{{!--
				<div class="q-grid__column q-grid__column-3 cso-partner-logo__column">
					<div class="cso-partner-logo__container">
						<div class="cso-partner-logo__text">In participation with</div>
						<img src="/asset/image/logo-accenture.svg" />
					</div>
				</div>
				--}}
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-agenda-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10 cso-agenda">
					<h3 class="heading--3 cso-agenda__heading">Agenda</h3>
					<p class="cso-coming-soon">Coming Soon</p>
					{{!--
					<table>
						<tr>
							<td class="time">7:30 - 8:30 AM</td>
							<td class="description">Registration &amp; Breakfast</td>
						</tr>
						<tr>
							<td class="time">8:45 - 9:15 AM</td>
							<td class="description">KEYNOTE – From Securing our Networks to Enabling Digital Transformation of <span class="nowrap">our Enterprises</span><br>
								<span class="speaker">Philippe Courtot, Chairman and CEO, Qualys</span></td>
						</tr>
						<tr>
							<td class="time">9:15 – 10:15 AM</td>
							<td class="description">
								<a class="title-speaker-container collapsed">
									<p class="title">
										Our Journey into the Cloud: The Qualys Cloud Platform and Architecture<br>
										<span class="speaker">Sumedh Thakar, Chief Product Officer, Qualys</span>
									</p>
									<div class="toggle">
										<img class="plus toggle-button" src="/asset/image/icon-plus-blue.svg" width="14.94" height="14.94">
										<img class="minus toggle-button"src="/asset/image/icon-minus-blue.svg" width="14.94" height="1.66">
									</div>
								</a>
								<div class="abstract hidden">
									Sumedh discusses the Qualys Cloud Platform and its architecture, which enables customers to secure their global assets across InfoSec, AppSec, Endpoints, DevSec, and Cloud environments. He also reviews 2017 updates and roadmap, and demonstrates the latest platform innovations.
									<p class="bio-link-wrapper">
										<a href="#speakers" data-speaker="bio-sumedh-thakar" class="bio-link cso-link">Sumedh Thakar’s bio </a>
									</p>
								</div>
							</td>
						</tr>
						<tr>
							<td class="time">10:15 – 10:50 AM</td>
							<td class="description">
								Refreshments &amp; Networking
							</td>
						</tr>
						<tr>
							<td class="time">10:50 – 12:20 PM</td>
							<td class="description">
								<a class="title-speaker-container collapsed">
									<p class="title">Securing Your Global IT Assets</p>
									<div class="toggle">
										<img class="plus toggle-button" src="/asset/image/icon-plus-blue.svg" width="14.94" height="14.94">
										<img class="minus toggle-button"src="/asset/image/icon-minus-blue.svg" width="14.94" height="1.66">
									</div>
								</a>
								<div class="abstract hidden cso-it-asset__text">
									Cloud Agents<br>
									Asset Management<br>
									Vulnerability Management<br>
									Indication of Compromise<br>
									Patch Management
								</div>
							</td>
						</tr>
					</table>
					--}}
				</div>
			</div>
		</div>
	</div>

	{{!--
	<div class="q-grid__container cso-speakers-container" id="speakers">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10 cso-speakers">
					<h3 class="heading--3 cso-agenda__heading">Speakers</h3>

					<div class="cso-speakers__thumbnails-container">

						<div class="cso-speakers__thumbnails-box">
							<img src="/asset/image/headshot-philippe-courtot-330-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Philippe Courtot <br>
								Chairman &amp; CEO
							</h4>
							<div class="cso-speakers__title">Qualys</div>
							<div class="cso-speakers__description bio-wrapper expandable">
								<p class="q-company-profile__bio">
									Demonstrating a unique mix of technical vision, marketing and business acumen, Philippe Courtot has repeatedly built innovative companies into industry leaders. As CEO of Qualys, Philippe has worked with thousands of companies to improve their IT security and compliance postures. Philippe received the SC Magazine Editor’s Award in 2004 for bringing on demand technology to the network security industry and for co-founding the CSO Interchange to provide a forum for sharing information in the security industry. He was also named the 2011 CEO of the Year by SC Magazine Awards Europe.
								</p>
								<p class="expand-container0"></p>
							</div>
						</div>
						<div class="cso-speakers__thumbnails-box">
							<img src="/asset/image/headshot-jimreavis-330-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Jim Reavis <br>
								Co-founder and Chief Executive Officer
							</h4>
							<div class="cso-speakers__title">Cloud Security Alliance</div>
							<div class="cso-speakers__description bio-wrapper expandable">
								<p class="q-company-profile__bio">
									For many years, Jim Reavis has worked in the information security industry as an entrepreneur, writer, speaker, technologist and business strategist. Jim’s innovative thinking about emerging security trends have been published and presented widely throughout the industry and have influenced many. Jim is helping shape the future of information security and related technology industries as co-founder, CEO and driving force of the Cloud Security Alliance. Jim has been named as one of the Top 10 cloud computing leaders by SearchCloudComputing.com.  Jim received a B.A. in Business Administration / Computer Science from Western Washington University in 1987 and formerly served on WWU’s alumni board. Jim was recognized as a WWU Distinguished Alumnus in 2015. In 2016, Jim was inducted into the Information Systems Security Association (ISSA) Hall of Fame..
								</p>
								<p class="expand-container0"></p>
							</div>
						</div>
						<div class="cso-speakers__thumbnails-box" id="bio-sumedh-thakar">
							<img src="/asset/image/headshot-philippe-courtot-330-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Philippe Courtot <br>
								Chairman &amp; CEO
							</h4>
							<div class="cso-speakers__title">Qualys</div>
							<div class="cso-speakers__description bio-wrapper expandable">
								<p class="q-company-profile__bio">
									Demonstrating a unique mix of technical vision, marketing and business acumen, Philippe Courtot has repeatedly built innovative companies into industry leaders. As CEO of Qualys, Philippe has worked with thousands of companies to improve their IT security and compliance postures. Philippe received the SC Magazine Editor’s Award in 2004 for bringing on demand technology to the network security industry and for co-founding the CSO Interchange to provide a forum for sharing information in the security industry. He was also named the 2011 CEO of the Year by SC Magazine Awards Europe.
								</p>
								<p class="expand-container0"></p>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
	--}}

	<div class="q-grid__container cso-location-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-5 cso-location__thumbnail-container">
					<img src="/asset/image/florida-omni-hotel-thumbnail.jpg" width="721" class="cso-location-thumbnail">
				</div>
				<div class="q-grid__column q-grid__column-5 cso-location__details">
					<div class="cso-location">
						<h3 class="heading--3">Location</h3>
						<p>
							A discounted room rate of $169 per night is subject to availability at the Omni Orlando Resort.<br>
							<a href="https://www.omnihotels.com/hotels/orlando-championsgate/meetings/cloud-security-alliance-congress" class="q-link">Book Your Room</a>
						</p>
						<a href="https://www.omnihotels.com/hotels/orlando-championsgate/meetings/cloud-security-alliance-congress" class="cso-location__web">
							<img src="/asset/image/logo-omini-hotel.png" width="300" class="cso-location__logo" />
						</a>
						<p class="cso-location-paragraph">
							<a href="https://www.omnihotels.com/hotels/orlando-championsgate/meetings/cloud-security-alliance-congress">Omni Orlando Resort</a><br>
							1500 Masters Boulevard<br>
							ChampionsGate, FL 33896<br>
							<a href="https://www.google.co.in/maps/place/1500+Masters+Blvd,+Championsgate,+FL+33896,+USA/@28.2618642,-81.62908,17z/data=!3m1!4b1!4m5!3m4!1s0x88dd7a477503eda7:0x5e52881f879b7e5e!8m2!3d28.2618595!4d-81.6268913?hl=en&authuser=0" target="_blank" rel="noopener" class="q-link">Directions</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cso-register-outer">
		<div class="cso-register-inner">
			<div class="q-grid__container cso-register-container">
				<div class="q-grid__inner">
					<div class="q-grid__row">
						<div class="q-grid__column q-grid__column-10">
							<div class="cso-register-content">
								<h3 class="heading--3">Register</h3>
								<p class="cso-register__overview">
									CIO/CISO Interchange is an invitation only, exclusive event. We qualify all attendees to ensure the best possible event. In fact, we limit the attendee list to no more than 30 high-profile executives. There is no cost to attend this event.
								</p>
								<a href="/register/florida/" class="q-button">Register</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="cso-footer-quote">
		<div class="cso-footer-quote__container">
			<div class="cso-footer-quote__content">
				<div class="cso-footer-quote__blockquote">
					<span>
						<p>
							This private event has no product pitches and no sales personnel, just candid talk on the important topics and issues facing you and your peers to secure the digital transformation.
						</p>
					</span>
				</div>
				<p class="cso-footer-quote__footer">
					Philippe Courtot, Founder of CIO/CISO Interchange
				</p>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}