.cso__hero-banner-wraper--inner {
	background-image: url(/asset/image/agenda-hero-mobile-2x.jpg);
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 615px;
	display: flex;
	align-items: flex-end;
}
.cso__hero-banner-inner {
	margin-left: 0;
	margin-right: 0;
}
.cso__hero-banner-container {
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 375px) {
	.cso__hero-banner-container {
		padding-left: 40px;
		padding-right: 40px;
	}
}
.cso-overview__container {
	padding-top: 70px;
}
@media (min-width: 680px) {
	.cso-overview__container {
		padding-top: 108px;
	}
	.cso__hero-banner-inner {
		padding-top: 126px;
		margin-left: auto;
		margin-right: auto;
	}
	.cso__hero-banner-wraper--inner {
		background-image: url(/asset/image/cso-agenda-banner.jpg);
		min-height: 432px;
		display: block;
		flex: none;
	}
}
.cso-overview__heading span.time-seperator {
	margin: 0 12px 0;
}
.cso-overview__container .q-button {
	margin-top: 37px;
	min-width: 120px;
}
.cso__hero-banner-inner .heading--2 {
	text-align: left;
	font-size: 38px;
	color: #FFFFFF;
	letter-spacing: normal;
	line-height: 41px;
	font-weight: 500;
	text-align: left;
	padding: 0 0 34px;
}
@media (max-width: 679px) {
	.cso__hero-banner-inner .heading--2 {
		margin: 0;
	}
}
@media (min-width: 680px) {
	.cso__hero-banner-inner .heading--2 {
		max-width: 650px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}
}
.cso-partner-logo__column {
	padding-bottom: 40px;
	border-bottom: 1px solid #9B9B9B;
}
.cso-partner-logo__container {
	margin-left: 0;
	max-width: 184px;
	padding-top: 35px;
}
@media (min-width: 720px) {
	.cso-partner-logo__column {
		padding-bottom: 0;
		border-bottom: 0;
	}
	.cso-partner-logo__container {
		margin-left: auto;
		margin-right: 0;
		padding-top: 2px;
	}
}
.cso-partner-logo__text img {
	margin: 3px 0 0 10px;
}
.cso-partner-logo__text {
	color: #6A778B;
	font-size: 15px;
	line-height: 27px;
	letter-spacing: -0.1px;
}
.description .text {
	max-width: 430px;
}
.cso-agenda .toggle {
	width: 15px;
	display: block;
}
@media(min-width: 720px) {
	.cso-agenda .time {
		width: 22.3%;
	}
	.cso-agenda .description {
		width: 77.7%;
	}
	.cso-agenda .toggle {
		position: relative;
		left: auto;
		margin-left: 2em;
		margin-top: 8px;
		top: auto;
	}
}
.toggle-button .minus {
	padding: 6.44px 0;
}
.collapsed .minus,
.expanded .plus {
	display: none;
}
.cso-agenda {
	width: 100%;
}
.cso-agenda table {
	border-collapse: collapse;
	font-size: 13.3pt;
	width: 100%;
	max-width: 990px;
}
@media(min-width: 720px) {
	.cso-agenda table {
		margin-top: 56px;
	}
}
.partners {
	margin-left: 0;
	margin-top: 4em;
	width: auto;
}
.partner-container {
	float: none;
}
.cso-agenda-container {
	padding-top: 81px;
}
.cso-agenda-container .q-grid__row {
	flex-direction: column;
}

@media(min-width: 720px) {
	.cso-agenda {
		width: 80%;
	}
	.partners {
		margin-left: 8.33333%;
	}
}

@media(min-width: 1220px) {
	.cso-agenda-container .q-grid__row {
		flex-direction: row;
	}
}

@media(min-width: 1310px) {
	.partner-container {
		float: none;
	}
	.cso-agenda {
		width: inherit;
	}
}
.cso-agenda td {
	color: #262626;
	padding: 15px 0 0;
	vertical-align: text-bottom;
	border-bottom: 0;
	display: block;
	width: 100%;
}
.cso-agenda td:first-child {
	padding: 40px 0 0;
	white-space: nowrap;
}
.cso-agenda td:last-child {
	border-bottom: 1px solid #ccc;
	padding: 15px 0 40px;
}
@media(min-width: 720px) {
	.cso-agenda td {
		border-bottom: 1px solid #ccc;
		display: table-cell;
		width: inherit;
		padding: 28px 0;
	}
	.cso-agenda td:last-child,
	.cso-agenda td:first-child {
		padding: 28px 0;
	}
	.cso-agenda td.description {
		padding-left: 20px;
	}
}
@media(min-width: 900px) {
	.cso-agenda td.description {
		padding-left: 0;
	}
}
.cso-agenda .speaker {
	color: #6a778b;
	display: block;
}
.cso-agenda .abstract {
		padding-top: 22px;
	}
@media(min-width: 720px) {
	.cso-agenda .abstract {
		padding-top: 30px;
	}

}
.title-speaker-container {
	display: flex;
	justify-content: space-between;
}

.title-speaker-container:hover {
	cursor: pointer;
}

.title-speaker-container p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 13.3pt;
}
.cso-agenda__heading {
	font-size: 40px;
	color: #1D2737;
	letter-spacing: -1px;
	line-height: 41px;
	margin: 0;
}

.cso-speakers-container {
	padding-top: 60px;
}
@media(min-width: 720px) {
	.cso-speakers-container {
		padding-top: 120px;
	}
}
.cso-agenda__heading {
	font-size: 40px;
	color: #1D2737;
	letter-spacing: -1px;
	line-height: 41px;
}
.cso-speakers__thumbnails-container {
	padding-top: 45px;
}
.cso-speakers__thumbnails-box {
	padding-bottom: 40px;
}
.cso-speakers__thumbnails-box:last-child {
	border-bottom: 1px solid #9B9B9B;
}
@media(min-width: 720px) {
	.cso-speakers__thumbnails-container {
		padding-top: 92px;
		display: flex;
		justify-content: space-between;
	}
	.cso-speakers__thumbnails-box {
		padding-right: 40px;
		flex: 1;
		width: 33.33%;
	}
	.cso-speakers__thumbnails-box:last-child {
		padding-right: 0;
		border-bottom: 0;
	}
	.cso-speakers__thumbnails-box {
		padding-bottom: 0;
	}
}
.cso-speakers__name {
	margin: 0;
	font-weight: normal;
	padding: 41px 0 0;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: -0.11px;
	color: #627281;
}
.cso-speakers__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.11px;
	color: #1D2737;
}
.cso-speakers__description {
	padding-top: 24px;
}
.cso-speakers__description p {
	margin: 0;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.11px;
	color: #6A778B;
}
img.cso-location-thumbnail {
	max-width: unset;
}
@media(max-width: 719px) {
	img.cso-location-thumbnail {
		width: calc(100% + 60px);
	}
}
.cso-location-container {
	padding-top: 60px;
}
@media(min-width: 720px) {
	.cso-location-container {
		padding-top: 73px;
	}
}
.cso-location-container .q-grid__row {
	flex-flow: column-reverse;
}
.cso-location__thumbnail-container {
	padding-right: 0;
	padding-left: 0;
	margin-left: -30px;
	margin-right: -30px;
	padding-top: 36px;
}
@media(min-width: 720px) {
	.cso-location-container .q-grid__row {
		flex-flow: row;
	}
	.cso-location {
		padding-left: 40px;
		padding-top: 106px;
	}
	.cso-location__thumbnail-container {
		direction: rtl;
		padding-right: 0;
		padding-top: 0;
		margin-left: 0;
		margin-right: 0;
	}
}
.cso-location__web {
	display: inline-block;
	margin: 53px 0 38px;
}
.cso-location .heading--3 {
	font-size: 40px;
	color: #1D2737;
	letter-spacing: -0.16px;
	line-height: 38px;
	margin: 0 0 21px;
}
@media(min-width: 720px) {
	.cso-location__details {
		padding-right: 0;
	}
}
.cso-location-paragraph {
	margin: 0;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: -0.1px;
}
.cso-location-directions {
	color: #2E8BE0;
	font-weight: 500;
	text-decoration: none;
}
.cso-location-directions:hover {
	color: #297FCD;
}
.cso-register-outer {
	padding: 0 0 26px;
}
@media(min-width: 720px) {
	.cso-register-outer {
		padding: 140px 0 26px;
	}
}
.cso-register-inner {
	background-color: #2E8BE0;
}
.cso-register-container {
	background-image: url(/asset/image/cio-text-logo-18-opc.svg);
	background-repeat: no-repeat;
	background-position: center calc(100% - 130px);
	background-size: 60%;
}
@media(min-width: 720px) {
	.cso-register-container {
		background-size: 100%;
		background-position: center;
	}
}
.cso-register-content {
	text-align: left;
	margin: 0 auto;
	padding: 80px 0;
}
.cso-register-content .heading--3 {
	margin: 0;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: -0.2px;
	text-align: left;
	line-height: 46px;
}
.cso-register__overview {
	margin: 39px 0 40px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.1px;
	text-align: left;
	line-height: 32px;
}
@media(min-width: 720px) {
	.cso-register-content {
		text-align: center;
		max-width: 624px;
		padding: 106px 0 120px;
	}
	.cso-register-content .heading--3,
	.cso-register__overview {
		text-align: center;
	}
}
.bio-link {
	color: #2E8BE0;
	text-decoration: none;
}
.cso-it-asset__text {
	color: #6A778B;
}
.expandable.expanded [class^="collapse-container"],
.expandable.expanded [class^="expand-container"] {
	display: none;
}
.expandable [class^="collapse-container"],
.expandable [class^="expand-container"] {
	background: linear-gradient(180deg, rgba(247, 250, 252, 0) 0, #FFF 60%, #FFF);
	bottom: 0;
	left: 0;
	margin: -20px 0;
	padding-top: 10em;
	position: absolute;
	width: 100%;
}
.bio-wrapper {
	max-height: 195px;
	overflow: hidden;
	position: relative;
}
.bio-wrapper:hover {
	cursor: pointer;
}
.bio-wrapper.expanded {
	max-height: unset;
}
.cso-agenda__intro {
	font-family: "Gotham", sans-serif;
	margin-top: 2.5em;
	max-width: 46em;
}
.cso-coming-soon {
	text-align: left;
	font-size: 18px;
	line-height: 1.4;
	letter-spacing: -0.12px;
	margin: 2em 0 4em;
}
.cso-speaker-bio__link {
	text-decoration: none;
	outline: none;
	color: #2e8be0;
}
.cso-speaker-bio {
	display: none;
	padding: 44px;
	font-family: Gotham, sans-serif;
	color: #30405B;
}
.cso-speaker-bio .cso-bio-title {
	font-weight: 400;
	font-size: 1.625em;
	display: block;
	line-height: 1.2;
	margin-bottom: 0.3em;
}
.cso-speaker-bio .cso-bio-job-title {
	font-size: 16px;
	font-weight: 500;
	margin-top: 0;
	line-height: 1.25;
	margin-bottom: 0;
}
@media (min-width: 720px) {
	.cso-speaker-bio {
		max-width: 50vw;
	}
}
.cso-bio-headshot {
	border-radius: 50%;
	margin-right: 1em;
	box-shadow: 0 0 9px -2px grey;
}
.cso-title-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}
.cso-bio-job-title {
	font-weight: 400;
}
.cso-bio {
	margin-bottom: 0;
	font-family: Caecilia, serif;
	line-height: 1.625;
	color: #6A778B;
}
.cso-bio-title {
	margin: 0;
}
.no-js .cso-speaker-bio {
	margin: 3em auto;
	display: block;
}
.abstract ul,
.class ul {
	list-style-type: none;
	padding-left: 1em;
	margin-bottom: 0;
	margin-top: 0;
}
.abstract li:before,
.class li:before {
	content: '\2013';
	position: absolute;
	margin-left: -15px;
}
.bio-link-wrapper {
	margin-bottom: 0;
}
/* REMOVE FOLLOWING RULE WHEN SESSION DESCRIPTIONS ARE PUBLISHED */
a.title-speaker-container:hover {
	cursor: default;
}