---
title: Registration Confirmation | CSO Interchange
description: CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.
---

{{#extends "default"}}

{{#append "meta-tags"}}
	<meta name="robots" content="noindex, nofollow">
{{/append}}

{{#append "styles"}}
	<link rel="stylesheet" href="index.css">
{{/append}}

{{#append "scripts"}}
	<script type="text/javascript" src="/vendor/addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{{/append}}

{{#block "content"}}
	<div class="cso__hero-banner-wraper cso__hero-banner-wraper--inner">
		<div class="cso__hero-banner-container">
			<div class="cso__hero-banner-inner"></div>
		</div>
	</div>

	<div class="q-grid__container cso-overview__container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h2 class="cso-overview__heading">
						Register<br>
					</h2>
					<h3 class="cso-overview__sub-heading">
						<span class="nowrap">CIO/CISO Interchange 2018</span>
						<span class="nowrap">Championsgate, FL</span>
						<span class="nowrap">December 10, 2018 <span class="time-seperator">|</span> 4:00 - 6:30PM</span>
					</h3>
					<p class="cso-overview__text">
						CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all <span class="nowrap">C-level</span> roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers. 
					</p>
					<hr class="cso-seperator-hr">
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-registeration-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h3 class="heading--3 cso-registeration__heading">
						Thank you. You are now registered.
					</h3>
					<p class="cso-overview__text">
						Your registration is confirmed for CIO/CISO Interchange.
					</p>
					<p class="cso-overview__text">
						<span class="cso-overview__location-label">Where:</span> Championsgate, FL <br>
						<span class="cso-overview__location-label">When:</span> 4 - 6:30pm on December 10, 2018
					</p>
					<p class="cso-overview__text">
						<a class="q-link" href="/agenda/">View agenda</a>
					</p>
					<p class="cso-overview__text">
						Add to calendar: <a href="https://www.addevent.com/event/MY928895+apple" class="cso-addto-link">Apple</a> <a href="https://www.addevent.com/event/MY928895+google" class="cso-addto-link">Google</a> <a href="https://www.addevent.com/event/MY928895+outlook" class="cso-addto-link">Outlook</a> <a href="https://www.addevent.com/event/MY928895+outlookcom" class="cso-addto-link">Outlook.com</a> <a href="https://www.addevent.com/event/MY928895+yahoo" class="cso-addto-link">Yahoo</a>
					</p>
					<p class="cso-overview__text">
						If you have any questions, please contact us at<br>
						<a href="mailto:info@cio-ciso-interchange.org">info@cio-ciso-interchange.org</a>.
					</p>
					<p class="cso-overview__text">
						We look forward to seeing you!
					</p>
				</div>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}