---
title: Registration Confirmation | CSO Interchange
description: CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.
---

{{#extends "default"}}

{{#append "meta-tags"}}
	<meta name="robots" content="noindex, nofollow">
{{/append}}

{{#append "styles"}}
	<link rel="stylesheet" href="index.css">
{{/append}}

{{#append "scripts"}}
	<script type="text/javascript" src="/vendor/addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{{/append}}

{{#block "cta-register"}}
{{>
	cta-register-btn
	url="#event-registration"
}}
{{/block}}
{{#block "content"}}
	<div class="cso__hero-banner-wraper cso__hero-banner-wraper--inner">
		<div class="cso__hero-banner-container">
			<div class="cso__hero-banner-inner"></div>
		</div>
	</div>

	<div class="q-grid__container cso-overview__container js-register-section" id="event-registration">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h2 class="cso-overview__heading">
						Register<br>
					</h2>
					<h3 class="cso-overview__sub-heading">
						<span class="nowrap">CIO/CISO Interchange,</span>
						<span class="nowrap">Omni Orlando Resort at ChampionsGate,</span>
						<span class="nowrap">Orlando, FL (at CSA Congress 2018) <span class="time-seperator">|</span> TBD</span>
					</h3>
					<p class="cso-overview__text">
						CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all <span class="nowrap">C-level</span> roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers. 
					</p>
					<hr class="cso-seperator-hr">
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-registeration-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h3 class="heading--3">
						Thank you. You are now registered.
					</h3>
					<div title="Add to Calendar" class="addeventatc">
						Add to Calendar
						<span class="start">12/10/2018 04:00 PM</span>
						<span class="end">12/10/2018 6:30 PM</span>
						<span class="timezone">America/Los_Angeles</span>
						<span class="title">CIO/CISO Interchange 2018</span>
						<span class="description">CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.</span>
						<span class="location">Championsgate, FL</span>
					</div>
				</div>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}