.background {
	min-height: 345px;
	position: absolute;
	width: 100%;
	background-image: url(/asset/image/cio-ciso-background2.svg);
	background-repeat: no-repeat;
	background-position: center 50%;
	background-size: cover;
}
.header-container {
	min-height: 345px;
}
body {
	padding-top: 0;
	font-family: "Gotham", sans-serif;
}
.header {
	display: flex;
	padding-top: 2em;
	margin-bottom: 1.4em;
	flex-direction: column;
	justify-content: center;
}
.logo {
	margin: 0 auto;
}
@media (min-width: 500px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	.logo {
		margin-left: 30px;
	}
}
h1 {
	color: #fff;
	font-size: 34px;
	max-width: 640px;
	text-align: center;
	margin: 0 auto;
	line-height: 1.1;
	margin-top: 1em;
}
@media (min-width: 800px) {
	h1 {
		font-size: 50px;
		margin-top: 0;
	}
}
p {
	font-size: 12.6pt;
	margin-bottom: 1.5em;
}
h2 {
	font-weight: 400;
	color: #1D2737;
	font-size: 29.5pt;
}
.register-container {
	margin-bottom: 4.2em;
	margin-top: 2.7em;
}
.register-container h2 {
	font-size: 28.7pt;
	font-weight: 500;
	line-height: 1.2;
}
.register-container h3 {
	color: #1D2737;
	font-size: 18.2pt;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 31px;
	line-height: 1.2;
}
.register {
	color: #D0021B;
	font-weight: 500;
}
@media (min-width: 720px) {
	.register-container h2 {
		margin-bottom: 1px;
	}
	.register-container h3 {
		line-height: 1.5;
		font-size: 21.2pt;
	}
}
/* BEGIN Marketo form reset */
.mktoForm,
.mktoForm .mktoFieldWrap,
.mktoForm .mktoFormCol,
.mktoButtonRow,
.q-form__button-group,
.mktoButtonRow .mktoButtonWrap {
	width: 100% !important;
	margin: 0 !important;
}
.mktoForm .mktoOffset,
.mktoForm .mktoGutter {
	width: 0 !important;
}
.mktoForm  input {
	width: auto !important;
}
.mktoForm input,
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
	height: auto !important;
}
/* END Marketo form reset */
.mktoForm  input {
	padding: 1em 1em 1em 2em !important;
	width: 100% !important;
	font-weight: 500 !important;
	font-size: 11pt !important;
}
.mktoForm .mktoFormCol {
	margin-bottom: 12px !important;
}
.mktoForm button.mktoButton {
	padding: 2em !important;
	height: auto !important;
}
.mktoForm .mktoError {
	right: 0 !important;
	left: 21px !important;
}
.mktoForm {
	max-width: 360px;
}