---
title: Default Starter Kit for Orchid Lead
lang: en
---
{{#extends "default"}}

{{#block "content"}}

<div class="Aligner">
	<div class="Aligner-item">
		Check back on February 20, 2018.
	</div>
</div>

{{/block}}

{{#append "styles"}}
    <link rel="stylesheet" href="index.css" />
{{/append}}

{{#append "scripts"}}
        <script src="/index.js"></script>
{{/append}}

{{/extends}}
