body {
	background-color: #12151e;
}
.hero .date-location {
	color: #FFFFFF;
	font-weight: 400;
}
.hero .q-button.agenda {
	margin-right: 1em;
}
.button-wrapper {
	display: flex;
	align-items: flex-start;
}
.heading--1 {
	color: #fff;
	margin-top: 2em;
}
.hero {
	background-image: url(/asset/image/circle-spin-2-1293-2x.jpg);
	min-height: 662px;
	background-size: cover;
	background-position: top;
}
.hero .q-grid__column-10 {
	position: relative;
}
.hero .circle-spin {
	position: absolute;
}
.about {
	background-color: #4B85E2;
	max-width: 1430px;
	margin-left: 70px;
	margin-right: 70px;
	padding-top: 4em;
	padding-bottom: 4em;
}
.about .q-grid__column {
	padding-left: 60px;
	padding-right: 60px;
	color: #fff;
}
.about .heading--5,
.about .heading--2,
.event .heading--5,
.event .heading--2,
.event .heading--3 {
	color: #fff;
}
.about .col1,
.about .col2 {
	width: 47%;
}
.about .container {
	display: flex;
	justify-content: space-between;
}
.paragraph--1 {
	font-family: "Gotham", sans-serif;
	color: #fff;
}
.about .quote {
	font-size: 36px;
	font-family: "Caecilia", serif;
	padding-right: 2em;
	position: relative;
}
.about .quote-wrapper {
	border-left: 10px solid #000;
}
.about .open-quote {
	position: absolute;
	left: -0.7em;
}
.about .quote-author {
	font-size: 18;
	font-weight: 400;
}
.event {
	text-align: center;
	color: #fff;
}
.event .heading--3 {
	font-size: 32px;
}
.cso-speakers__thumbnails-container {
	padding-top: 45px;
}
.cso-speakers__thumbnails-box {
	padding-bottom: 40px;
}
.cso-speakers__thumbnails-box:last-child {
	border-bottom: 1px solid #9B9B9B;
}
@media(min-width: 720px) {
	.cso-speakers__thumbnails-container {
		padding-top: 92px;
		display: flex;
		flex-wrap: wrap;
	}
	.cso-speakers__thumbnails-box {
		padding-right: 40px;
		flex: 1;
		width: 33.33%;
		justify-content: space-between;
	}
	.cso-speakers__thumbnails-box:first-child:last-child {
		max-width: 33.33%;
	}
	.cso-speakers__thumbnails-box:last-child {
		padding-right: 0;
		border-bottom: 0;
	}
	.cso-speakers__thumbnails-box {
		padding-bottom: 0;
	}
}
.cso-speakers__description {
	display: none;
}
.cso-speakers__name {
	font-size: 24px;
	margin-bottom: 0;
}
.cso-speakers__title {
	font-size: 16px;
}
.agenda {
	margin-bottom: 4em;
	color: #fff;
}
.agenda .q-grid__column {
	margin: 0 auto;
}
.agenda .heading--2 {
	text-align: center;
	color: #fff;
}
.sessions td {
	vertical-align: top;
}
.sessions p {
	font-size: 18px;
	margin-top: 0;
}
.divider {
	border-left: 1px solid #2E8BE0;
}
.sessions tr:last-child .divider {
	border-left: 1px solid transparent;
}
.sessions {
	text-align: left;
}
.sessions .time {
	margin-right: 1em;
	white-space: nowrap;
}
.session {
	padding-left: 1em;
}
.session .title {
	font-weight: 500;
	position: relative;
}
.circle {
	background-color: #2E8BE0;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	border: 1px solid #2E8BE0;
}
.circle-wrapper {
	background-color: #12151e;
	padding: 10px 0;
	width: 12px;
	margin-left: -7px;
	margin-top: -1px;
}
.circle.empty {
	background-color: #12151e;
}
.session .description,
.session .bio-link {
	font-size: 15px;
}
.bio-link a {
	text-decoration: none;
}
.bio-link a:hover {
	text-decoration: underline;
}
@media (min-width: 720px) {
	.session .title:before,
	.session .title:after {
		content: "";
		position: absolute;
		background: #2E8BE0;
	}
	.session .title:before {
		transition: all 0.35s ease-in-out;
		width: 15px;
		height: 1px;
		right: -40px;
		top: 16px;
	}
	.session .title:after {
		transition: all 0.35s ease-in-out;
		transform: rotate(-90deg);
		opacity: 1;
		right: -40px;
		top: 16px;
		width: 15px;
		height: 1px;
	}
}
.opened {
	opacity: 1;
	margin-bottom: 0.7em;
}
.opened.session .title:after {
	transform: rotate(0deg);
}
.opened.session .title:before {
	transform: rotate(90deg);
	opacity: 0;
}
.location {
	display: flex;
}
.location .venue-pic,
.location .venue-info {
	width: 50%;
	background-color: #4B85E2;
}
.location .venue-info {
	padding-left: 30px;
	padding-right: 110px;
	color: #fff;
}
.venue-info .heading--2 {
	color: #fff;
}
.four-seasons-logo {
	margin-bottom: 4em;
}
.directions {
	font-weight: 500;
	text-decoration: none;
}
.directions:hover {
	text-decoration: underline;
}
.register-block {
	background-image: url(/asset/image/circle-spin-3-1440-1x.jpg);
	min-height: 717px;
	background-size: cover;
	background-position: top;
	color: #fff;
}
.register-block .heading--2 {
	color: #fff;
	margin-top: 3em;
}
.register-block .paragraph--1 {
	max-width: 783px;
}