.background {
	min-height: 709px;
	position: absolute;
	width: 100%;
	background-image: url(/asset/image/cio-ciso-background.svg);
	background-repeat: no-repeat;
	background-position: center 50%;
	background-size: cover;
}
.header-container {
	min-height: 709px;
}
body {
	padding-top: 0;
	font-family: "Gotham", sans-serif;
}
.button {
	background-color: #D0021B;
	border-radius: 3px;
	color: #fff;
	font-weight: 500;
	text-decoration: none;
	padding: 0.9em 2em;
	font-size: 11pt;
}
.register {
	margin-right: 30px;
	margin-top: 2em;
}
.header {
	display: flex;
	padding-top: 2em;
	margin-bottom: 3.6em;
	flex-direction: column;
	justify-content: center;
}
.logo {
	margin-left: 0;
}
@media (min-width: 500px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	.logo {
		margin-left: 30px;
	}
	.register {
		margin-top: 0;
	}
}

.inaugural {
	color: #34C3FF;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0;
	font-size: 16.6pt;
}
h1 {
	color: #fff;
	font-size: 28pt;
	font-weight: 500;
	max-width: 600px;
	line-height: 1.1;
	margin-bottom: 0;
	margin-top: 0;
}
@media (min-width: 500px) {
	h1 {
		font-size: 41pt;
	}
}
.date-location {
	color: #fff;
	font-weight: 500;
	font-size: 17.8pt;
	margin-top: 11px;
	margin-bottom: 27px;
}
.cio-ciso {
	position: absolute;
	width: 100%;
	bottom: -73px;
}
.down-arrow {
	margin-left: calc(50% - (35px/2));
}
@media (min-width: 500px) {
	.down-arrow {
		margin-left: 214px;
	}
}
.strip-container {
	height: 100px;
	width: 100%;
	margin-top: -100px;
	display: flex;
	position: relative;
}
.strip.transparent {
	width: 0%;
}
@media (min-width: 720px) {
	.strip.transparent {
		width: 13%;
	}
}
.strip.white {
	background-color: #fff;
	width: 87%;
}
.content-container {
	margin-top: -5em;
}
p {
	font-size: 12.6pt;
	margin-bottom: 1.5em;
}
h2 {
	font-weight: 400;
	color: #1D2737;
	font-size: 29.5pt;
}
h2.about {
	margin-bottom: 23px;
}
@media (min-width: 720px) {
	.q-company-carousel__slide {
		max-width: 300px;
	}
}
.q-company-profile__name {
	margin-bottom: 0;
	font-size: 11pt;
}
.q-company-profile__role {
	margin: 0;
	font-size: 11pt;
}
.q-company-profile__company {
	margin-top: 0;
	color: #1D2737;
	font-weight: 500;
	font-size: 12pt;
}
.q-company-profile__image {
	margin-bottom: 34px;
}
.q-company-profile__bio {
	line-height: 1.5;
}
.q-company-management__carousel {
	margin-bottom: 4.7em;
	margin-top: 4.5em;
}
.location-container {
	margin-bottom: 9.3em;
	display: block;
}
.photo-subcontainer {
	width: 100%;
}
.hotel-photo {
	float: none;
}
h2.location {
	margin-bottom: 9px;
}
.address {
	margin-top: 36px;
	font-size: 13.5pt;
	line-height: 1.5;
}
.location-info {
	margin-left: 52px;
	max-width: 490px;
	margin-top: 93px;
	padding-right: 2em;
}
.location-info .description {
	font-size: 14pt;
	margin-top: 0;
	line-height: 1.5;
	margin-bottom: 55px;
	font-family: "Caecilia", serif;
}
@media (min-width: 850px) {
	.location-subcontainer {
		width: 75%;
	}
}
@media (min-width: 650px) {
	.location-container {
		display: flex;
	}
	.location-subcontainer {
		width: 50%;
	}
	.hotel-photo {
		float: right;
	}
}
.directions,
.bio-link {
	text-decoration: none;
	color: #D0021B;
	font-weight: 500;
}
.bio-link-wrapper {
	font-size: 11pt;
	margin-top: 27px;
}
.quote .text {
	font-size: 15pt;
	line-height: 1.3;
	margin-bottom: 0;
	font-family: "Caecilia", serif;
	letter-spacing: -0.6px;
}
.quote-wrapper {
	width: 90%;
	margin: 0 auto 8em;
}
.logo-gray {
	width: 150px;
}
@media (min-width: 720px) {
	.quote {
		width: 415px;
		margin-left: 150px;
		margin-right: 22px;
	}
	.quote-wrapper {
		display: flex;
		margin-bottom: 8em;
		justify-content: center;
	}
	.logo-gray {
		width: auto;
	}
}
.byline {
	font-size: 13.4pt;
}
.participation {
	font-size: 11pt;
	margin-bottom: 32px;
	margin-top: 4em;
}
@media (min-width: 720px) {
	.participation {
		font-size: 11pt;
		margin-bottom: 32px;
		margin-top: 0;
	}
}
.footer-container {
	display: flex;
	min-height: 551px;
	flex-direction: column;
}
.footer-subcontainer {
	padding: 98px 0 0;
}
.updates-container {
	width: 50%;
	background-color: #1D2737;
	display: flex;
	justify-content: flex-end;
	padding-right: 4vw;
	order: 2;
}
.social-container {
	width: 50%;
	background-color: #F7FAFC;
	padding-left: 4vw;
	order: 1;
}
.updates-container,
.social-container {
	width: 100%;
	padding: 98px 10% 2em;
}
@media (min-width: 1000px) {
	.footer-container {
		display: flex;
		min-height: 551px;
		flex-direction: row;
	}
	.updates-container,
	.social-container {
		width: 50%;
	}
	.updates-container {
		order: 1;
	}
	.social-container {
		order: 2;
	}
}
@media (min-width: 1255px) {
	.updates-container {
		padding-right: 128px;
	}
	.social-container {
		padding-left: 169px;
	}
}
.abstract {
	margin-top: 2em;
	font-size: 11pt;
	line-height: 1.9;
}
.get-updates {
	max-width: 395px;
	font-size: 22.3pt;
	line-height: 1.2;
	margin-bottom: 48px;
}
.copyright {
	font-size: 10.2pt;
	color: #fff;
	margin-top: 173px;
}
.update-wrapper {
	max-width: 400px;
}
.updates-form {
	margin-bottom: 150px;
}
.follow-us {
	color: #1D2737;
	font-weight: 500;
	margin-top: 32px;
	margin-bottom: 19px;
}
.social-icons {
	display: flex;
	margin-bottom: 77px;
}
.social-icon {
	margin-right: 15px;
}
.links a {
	text-decoration: none;
	font-size: 15px;
	margin-right: 15px;
}
.partner {
	margin-bottom: 33px;
}
.register-container {
	margin-bottom: 4.2em;
}
.agenda .time {
	width: 28%;
}
.agenda .description {
	width: 66%;
}
.description .text {
	max-width: 370px;
}
.agenda .toggle {
	width: 4%;
}
.toggle-button.minus {
	padding: 6.44px 0px;
}
.collapsed .minus,
.expanded .plus {
	display: none;
}
.agenda table {
	border-collapse: collapse;
	font-size: 13.3pt;
	width: 100%;
}
@media (min-width: 1120px) {
	.agenda table {
		max-width: 772px;
	}
}
.partners {
	width: 100%;
	margin-top: 4em;
}
@media (min-width: 720px) {
	.agenda {
		width: 90%;
	}
}
@media (min-width: 800px) {
	.agenda {
		width: auto;
	}
	.partners {
		width: auto;
	}
}
.agenda td {
	border-bottom: 1px solid #ccc;
	padding: 28px 0;
	vertical-align: text-bottom;
	color: #1D2737;
}
.agenda .speaker {
	color: #6A778B;
}
.speaker-container {
	background-color: #F7FAFC;
	margin-top: 7em;
	margin-bottom: 9.2em;
	padding-top: 4.7em;
}
.speaker-container .q-grid__column {
	width: 100%;
}
.register-container h2 {
	font-size: 28.7pt;
	font-weight: 500;
	line-height: 1.2;
}
.register-container h3 {
	color: #1D2737;
	font-size: 18.2pt;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 27px;
	line-height: 1.2;
}
@media (min-width: 720px) {
	.register-container h2 {
		margin-bottom: -6px;
	}
	.register-container h3 {
		line-height: 1.5;
		font-size: 21.2pt;
	}
}
.invitation-only {
	color: #1D2737;
}
.q-search-form__input {
	border: 1px solid #6A778B;
	border-right: none;
}
.bio-wrapper {
	max-height: 277px;
	position: relative;
	overflow: hidden;
}
.bio-wrapper:hover {
	cursor: pointer;
}
.bio-wrapper.expanded {
	max-height: none;
}
.expandable.expanded [class^="expand-container"],
.expandable.expanded [class^="collapse-container"] {
	display: none;
}
.expandable [class^="expand-container"],
.expandable [class^="collapse-container"] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: -20px 0;
	padding-top: 10em;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(247,250,252,0)), color-stop(60%, rgba(247,250,252,1)), to(rgba(247,250,252,1)));
	background: linear-gradient(to bottom, rgba(247,250,252,0) 0%, rgba(247,250,252,1) 60%, rgba(247,250,252,1) 100%);
}
.cso-link:hover {
	color: #e8253d;
}
.divider-container .q-grid__column {
	position: relative;
}
.divider-end {
	position: absolute;
	bottom: 0;
	right: -15px;
}
.divider-container {
	margin-top: 0;
	margin-bottom: 2em;
}
@media (min-width: 600px) {
	.divider-container {
		margin-top: -9px;
		margin-bottom: 88px;
	}
}
.divider-container .q-grid__column,
.divider {
	min-height: 99px;
}
.divider {
	min-width: 1209px;
}
.topic-container {
	min-width: 100%;
}
@media (min-width: 600px) {
	.topic-container {
		min-width: 600px;
	}
}
.mktoForm input,
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
    padding: 12px 11px 11px !important;
    font-family: "Caecilia", serif !important;
    font-style: italic !important;
    font-size: 15px !important;
    color: #fff !important;
    min-width: 257px;
    border-right: 0 !important;
}
.mktoForm .mktoError {
	right: 0 !important;
	left: 21px !important;
}
.mktoButton {
    background: #ed2e26;
    border: 1px solid #ed2e26;
    border-radius: 0 2px 2px 0;
    height: auto;
    width: auto;
    padding: 0.6em 1.7em;
}
.mktoButton:hover {
    background: #e3241c;
    outline: none;
}
.form-wrapper {
	display: flex;
}
.field {
    display: inline-block !important;
    vertical-align: top !important;
    width: auto !important;
}