body {
	background-color: #12151e;
	text-align: center;
}
.hero .date-location {
	color: #FFFFFF;
	font-weight: 400;
}
.hero .q-button.agenda {
	margin-right: 1em;
}
.button-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.heading--1 {
	color: #fff;
	font-size: 32px;
	margin: 0 auto;
}
.hero {
	background-image: url(/asset/image/circle-spin-mobile-320-1x.png);
	min-height: 408px;
	background-size: cover;
	background-position: top;
}
.hero .q-grid__column-10 {
	position: relative;
}
.hero .circle-spin {
	position: absolute;
}
.about {
	background-color: #4B85E2;
	max-width: 1430px;
	padding-top: 4em;
	padding-bottom: 4em;
	margin-left: 15px;
	margin-right: 15px;
}
.about .heading--2 {
	max-width: 270px;
	margin: 0 auto;
}
.about .heading--5,
.about .heading--2,
.event .heading--5,
.event .heading--2,
.event .heading--3 {
	color: #fff;
}
.paragraph--1 {
	font-family: "Gotham", sans-serif;
	color: #fff;
}
.about .q-grid__column-push-1 {
	margin-left: 0;
}
.about .quote {
	font-size: 18px;
	font-family: "Caecilia", serif;
	position: relative;
	color: #fff;
	margin-left: 0;
	margin-right: 0;
}
.about .open-quote {
	position: absolute;
}
.about .quote-author {
	font-size: 14px;
	font-weight: 400;
}
.about .horz-divider {
	border-top: 5px solid #000;
	width: 89px;
}
.event {
	text-align: center;
	color: #fff;
}
.event .heading--2 {
	font-size: 32px;
}
.event .heading--3 {
	font-size: 18px;
}
.cso-speakers__thumbnails-container {
	padding-top: 45px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.cso-speakers__thumbnails-box {
	padding-bottom: 40px;
	width: 47%;
}
.cso-speakers__description {
	display: none;
}
.cso-speakers__name {
	font-size: 14px;
	margin-bottom: 0;
}
.cso-speakers__title {
	font-size: 14px;
}
.agenda {
	margin-bottom: 4em;
	color: #fff;
}
.agenda .q-grid__column {
	margin: 0 auto;
}
.agenda .heading--2 {
	text-align: center;
	color: #fff;
}
.sessions td {
	vertical-align: top;
}
.sessions p {
	font-size: 18px;
	margin-top: 0;
}
.divider {
	border-left: 1px solid #2E8BE0;
}
.sessions tr:last-child .divider {
	border-left: 1px solid transparent;
}
.sessions {
	text-align: left;
}
.sessions .time {
	margin-right: 1em;
	white-space: nowrap;
}
.session .time.mobile {
	margin-bottom: 0;
}
.session .description-wrapper {
	margin-left: 2em;
}
.desktop {
	display: none;
}
.session {
	padding-left: 1em;
}
.session .title {
	font-weight: 500;
	position: relative;
}
.circle {
	background-color: #2E8BE0;
	border-radius: 50%;
	width: 11px;
	height: 11px;
	border: 1px solid #2E8BE0;
}
.circle-wrapper {
	background-color: #12151e;
	padding: 10px 0;
	width: 12px;
	margin-left: -7px;
	margin-top: -1px;
}
.circle.empty {
	background-color: #12151e;
}
.session .description,
.session .bio-link {
	font-size: 15px;
}
.bio-link a {
	text-decoration: none;
}
.bio-link a:hover {
	text-decoration: underline;
}
.opened {
	opacity: 1;
	margin-bottom: 0.7em;
}
.opened.session .title:after {
	transform: rotate(0deg);
}
.opened.session .title:before {
	transform: rotate(90deg);
	opacity: 0;
}
.session .title:before,
.session .title:after {
	content: "";
	position: absolute;
	background: #2E8BE0;
}
.session .title:before {
	transition: all 0.35s ease-in-out;
	width: 15px;
	height: 1px;
	top: 15px;
	left: -25px;
}
.session .title:after {
	transition: all 0.35s ease-in-out;
	transform: rotate(-90deg);
	opacity: 1;
	left: -25px;
	top: 15px;
	width: 15px;
	height: 1px;
}
.location {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.location .venue-pic,
.location .venue-info {
	width: 100%;
	background-color: #4B85E2;
}
.location .venue-pic {
	order: 2;
}
.location .venue-info {
	padding-left: 30px;
	padding-right: 30px;
	color: #fff;
	order: 1;
}
.venue-info .heading--2 {
	color: #fff;
	font-size: 32px;
}
.four-seasons-logo {
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
}
.directions {
	font-weight: 500;
	text-decoration: none;
}
.directions:hover {
	text-decoration: underline;
}
.register-block {
	background-image: url(/asset/image/circle-spin-2-mobile-320-1x.png);
	min-height: 577px;
	background-size: cover;
	background-position: top;
	color: #fff;
}
.register-block .heading--2 {
	color: #fff;
	margin-top: 3em;
}
.register-block .paragraph--1 {
	max-width: 783px;
}
@media (min-width: 720px) {
	body {
		text-align: left;
	}
	.heading--1 {
		font-size: 34px;
		margin-top: 2em;
		margin-left: 0;
	}
	.hero {
		background-image: url(/asset/image/circle-spin-2-1293-2x.jpg);
		min-height: 662px;
	}
	.button-wrapper {
		justify-content: flex-start;
	}
	.event .heading--3 {
		font-size: 32px;
	}
	.cso-speakers__name {
		font-size: 24px;
	}
	.cso-speakers__title {
		font-size: 16px;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
	}
	.cso-speakers__thumbnails-container {
		padding-top: 92px;
		display: flex;
		flex-wrap: wrap;
	}
	.cso-speakers__thumbnails-box {
		margin-bottom: 4em;
		width: 31%;
		max-width: 330px;
	}
	.cso-speakers__thumbnails-box:first-child:last-child {
		max-width: 33.33%;
	}
	.cso-speakers__thumbnails-box:last-child {
		padding-right: 0;
		border-bottom: 0;
	}
	.cso-speakers__thumbnails-box {
		padding-bottom: 0;
	}
	.session .title:before {
		right: -40px;
		left: auto;
	}
	.session .title:after {
		right: -40px;
		left: auto;
	}
	.register-block {
		background-image: url(/asset/image/circle-spin-3-1440-1x.jpg);
		min-height: 717px;
	}
	.agenda .q-grid__column {
		min-width: 555px;
	}
	.about .heading--2 {
		max-width: none;
		margin-left: 0;
	}
	.four-seasons-logo {
		margin-left: 0;
	}
}
@media (min-width: 900px) {
	.about .q-grid__column-push-1 {
		margin-left: 8.3333%;
	}
	.about {
		margin-left: 70px;
		margin-right: 70px;
	}
	.about .container {
		display: flex;
		justify-content: space-between;
	}
	.about .col1,
	.about .col2 {
		width: 47%;
	}
	.about .col2 {
	    margin-top: 1.8em;
	}
	.about .q-grid__column {
		padding-left: 60px;
		padding-right: 60px;
	}
	.about .quote-wrapper {
		border-left: 10px solid #000;
		padding-left: 3em;
	}
	.about .quote {
		font-size: 36px;
		padding-right: 2em;
	}
	.about .open-quote {
		left: -0.7em;
	}
	.about .open-quote-mobile {
		display: none;
	}
	.about .quote-author {
		font-size: 18px;
	}
	.about .horz-divider {
		display: none;
	}
	.location {
		flex-wrap: nowrap;
		align-items: stretch;
	}
	.location .venue-pic {
		order: 1;
	}
	.location .venue-info {
		order: 2;
	}
	.location .venue-pic,
	.location .venue-info {
		width: 50%;
	}
	.location .venue-info {
		padding-right: 110px;
	}
}