---
title: Registration Confirmation | CSO Interchange
description: CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.
---

{{#extends "default"}}

{{#append "meta-tags"}}
	<meta name="robots" content="noindex, nofollow">
{{/append}}

{{#append "styles"}}
	<link rel="stylesheet" href="index.css">
{{/append}}

{{#append "scripts"}}
	<script type="text/javascript" src="/vendor/addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
{{/append}}

{{#block "cta-register"}}
{{>
	cta-register-btn
	url="/register"
}}
{{/block}}
{{#block "cta-register-mobile"}}
{{>
	cta-register-btn
	url="/register"
}}
{{/block}}
{{#block "content"}}
	<div class="cso__hero-banner-wraper cso__hero-banner-wraper--inner">
		<div class="cso__hero-banner-container">
			<div class="cso__hero-banner-inner"></div>
		</div>
	</div>

	<div class="q-grid__container cso-overview__container js-register-section" id="event-registration">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h2 class="cso-overview__heading">
						CIO/CISO Interchange
					</h2>
					<h3 class="cso-overview__subheading">
						San Francisco <br>
						Monday, March 4 at <a href="https://csacongress.misti.com/agenda/about-cloud-security-alliance-congress">TBD</a> | 3:30 – 6:45 PM
					</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-registeration-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10">
					<h3 class="heading--3 cso-registeration__heading">
						Thank you. You are now registered.
					</h3>
					<div title="Add to Calendar" class="addeventatc">
						Add to Calendar
						<span class="start">03/04/2019 3:30 PM</span>
						<span class="end">03/04/2019 6:45 PM</span>
						<span class="timezone">America/Los_Angeles</span>
						<span class="title">CIO/CISO Interchange 2019</span>
						<span class="description">CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.</span>
						<span class="location">San Francisco</span>
					</div>
					<p class="cso-overview__text">
						Omni Orlando Resort is located at <a href="https://www.google.co.in/maps/place/1500+Masters+Blvd,+Championsgate,+FL+33896,+USA/@28.2618642,-81.62908,17z/data=!3m1!4b1!4m5!3m4!1s0x88dd7a477503eda7:0x5e52881f879b7e5e!8m2!3d28.2618595!4d-81.6268913?hl=en&authuser=0" target="_blank" rel="noopener" class="cso-location-link">1500 Masters Boulevard, ChampionsGate, FL 33896</a>.
					</p>
				</div>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}