---
title: CIO/CISO Interchange
description: CIO/CISO Interchange is an invitation-only forum to discuss ideas and trends concerning all C-level roles. There are no product pitches and no sales personnel, just candid talk on important security issues facing you and your peers.
---

{{#extends "default"}}

{{#append "styles"}}
	<link rel="stylesheet" href="index.css">
{{/append}}

{{#append "scripts"}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.6/js/swiper.min.js" integrity="sha256-NCAKIW9CtzSpcjpTZ2RbtRfDHgNrQuK/akgMYogPwSw=" crossorigin="anonymous"></script>
	<script src="https://app-sj08.marketo.com/js/forms2/js/forms2.min.js"></script>
	<script src="/asset/script/common.js"></script>
	<script src="index.js"></script>
{{/append}}

{{#block "content"}}
	<div class="cso__hero-banner-wraper cso__hero-banner-wraper--inner">
		<div class="cso__hero-banner-container">
			<div class="cso__hero-banner-inner">
				<h2 class="heading--2">
					Building security into the digital transformation – not bolting it on.
				</h2>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-overview__container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-7">
					<h2 class="cso-overview__heading">
						<span class="nowrap">CIO/CISO Interchange 2018</span>
						<span class="nowrap">Four Seasons, Washington, DC</span>
						<span class="nowrap">October 18, 2018 <span class="time-seperator">|</span> 4:00 - 6:30PM</span>
					</h2>
					<a href="#" class="q-button">Register</a>
				</div>
				<div class="q-grid__column q-grid__column-3">
					<div class="cso-partner-logo__container">
						<div class="cso-partner-logo__text">In participation with</div>
						<img src="/asset/image/logo-accenture.svg" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-agenda-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10 cso-agenda">
					<h3 class="heading--3 cso-agenda__heading">Agenda</h3>
					<table>
						<tr>
							<td class="time">7:30 - 8:30 AM</td>
							<td class="description">Registration &amp; Breakfast</td>
						</tr>
						<tr>
							<td class="time">8:45 - 9:15 AM</td>
							<td class="description">KEYNOTE – From Securing our Networks to Enabling Digital Transformation of our Enterprises<br>
								<span class="speaker">Philippe Courtot, Chairman and CEO, Qualys</span></td>
						</tr>
						<tr>
							<td class="time">9:15 – 10:15 AM</td>
							<td class="description">
								<a class="title-speaker-container collapsed">
									<p class="title">
										Our Journey into the Cloud: The Qualys Cloud Platform and Architecture<br>
										<span class="speaker">Sumedh Thakar, Chief Product Officer, Qualys</span>
									</p>
									<div class="toggle">
										<img class="plus toggle-button" src="/asset/image/plus.svg" width="14.94" height="14.94">
										<img class="minus toggle-button"src="/asset/image/minus.svg" width="14.94" height="1.66">
									</div>
								</a>
								<div class="abstract hidden">
									Sumedh discusses the Qualys Cloud Platform and its architecture, which enables customers to secure their global assets across InfoSec, AppSec, Endpoints, DevSec, and Cloud environments. He also reviews 2017 updates and roadmap, and demonstrates the latest platform innovations.
									<p class="bio-link-wrapper"><a href="#speakers" data-speaker="julie-ask" class="bio-link cso-link">Sumedh Thakar’s bio </a></p>
								</div>
							</td>
						</tr>
						<tr>
							<td class="time">10:15 – 10:50 AM</td>
							<td class="description">
								Refreshments &amp; Networking
							</td>
						</tr>
						<tr>
							<td class="time">10:50 – 12:20 PM</td>
							<td class="description">
								<a class="title-speaker-container collapsed">
									<p class="title">Securing Your Global IT Assets</p>
									<div class="toggle">
										<img class="plus toggle-button" src="/asset/image/plus.svg" width="14.94" height="14.94">
										<img class="minus toggle-button"src="/asset/image/minus.svg" width="14.94" height="1.66">
									</div>
								</a>
								<div class="abstract hidden">
									Cloud Agents<br>
									Asset Management<br>
									Vulnerability Management<br>
									Indication of Compromise<br>
									Patch Management
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-speakers-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-10 cso-speakers">
					<h3 class="heading--3 cso-agenda__heading">Speakers</h3>

					<div class="cso-speakers__thumbnails-container">

						<div class="cso-speakers__thumbnails-box">
							<img src="/asset/image/headshot-philippe-courtot-300-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Philippe Courtot <br>
								Chairman &amp; CEO
							</h4>
							<div class="cso-speakers__title">Qualys</div>
							<div class="cso-speakers__description">
								<p>
									Demonstrating a unique mix of technical vision, marketing and business acumen, Philippe Courtot has repeatedly built innovative companies into industry leaders. As CEO of Qualys, Philippe has worked with thousands of companies to improve their IT security and compliance postures. Philippe received the SC Magazine Editor’s Award in 2004 for bringing on demand technology to the network security industry and for co-founding the CSO Interchange to provide
								</p>
							</div>
						</div>
						<div class="cso-speakers__thumbnails-box">
							<img src="/asset/image/headshot-philippe-courtot-300-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Philippe Courtot <br>
								Chairman &amp; CEO
							</h4>
							<div class="cso-speakers__title">Qualys</div>
							<div class="cso-speakers__description">
								<p>
									Demonstrating a unique mix of technical vision, marketing and business acumen, Philippe Courtot has repeatedly built innovative companies into industry leaders. As CEO of Qualys, Philippe has worked with thousands of companies to improve their IT security and compliance postures. Philippe received the SC Magazine Editor’s Award in 2004 for bringing on demand technology to the network security industry and for co-founding the CSO Interchange to provide
								</p>
							</div>
						</div>
						<div class="cso-speakers__thumbnails-box">
							<img src="/asset/image/headshot-philippe-courtot-300-2x.jpg" width="330">
							<h4 class="cso-speakers__name">
								Philippe Courtot <br>
								Chairman &amp; CEO
							</h4>
							<div class="cso-speakers__title">Qualys</div>
							<div class="cso-speakers__description">
								<p>
									Demonstrating a unique mix of technical vision, marketing and business acumen, Philippe Courtot has repeatedly built innovative companies into industry leaders. As CEO of Qualys, Philippe has worked with thousands of companies to improve their IT security and compliance postures. Philippe received the SC Magazine Editor’s Award in 2004 for bringing on demand technology to the network security industry and for co-founding the CSO Interchange to provide
								</p>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="q-grid__container cso-location-container">
		<div class="q-grid__inner">
			<div class="q-grid__row">
				<div class="q-grid__column q-grid__column-5 cso-location__thumbnail-container">
					<img src="/asset/image/four-seasons-thumbnails.jpg" width="721" class="cso-location-thumbnail">
				</div>
				<div class="q-grid__column q-grid__column-5">
					<div class="cso-location">
						<h3 class="heading--3">Location</h3>
						<p class="cso-location-paragraph">
							The CIO/CISO Interchange is constantly adding events around the world. Find an event below, or sign up to our newsletter to find out about new events near you.
						</p>
						<img src="/asset/image/logo-four-seasons.svg" />
						<p class="cso-location-paragraph">
							757 Market St,<br>
							San Francisco, CA 94103 <br>
							<a href="#" class="cso-location-directions">Directions</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="cso-footer-quote">
		<div class="cso-footer-quote__container">
			<div class="cso-footer-quote__content">
				<div class="cso-footer-quote__blockquote">
					<span>
						<p>
							This private event has no product pitches and no sales personnel, just candid talk on the important topics and issues facing you and your peers to secure the digital transformation.
						</p>
					</span>
				</div>
				<p class="cso-footer-quote__footer">
					Philippe Courtot, Founder of CIO/CISO Interchange
				</p>
			</div>
		</div>
	</div>

{{/block}}

{{/extends}}